svg {
    border: 1px solid #333;
    display: block;
    margin: 0 auto;
    cursor:auto;
}

path,
line,
polygon,
rect{
    stroke: dodgerblue;
}

path{cursor:move;}

circle{
    fill: dodgerblue;
    cursor: alias;
}

.input-pos{
    width: 50px;
}
